<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click Master</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/TheScript.js"></script>
</head>

<body>
    <p id="head">i-CLICK MASTER</p>

    <div id="stats">
        <p id="clicks">SCORE: 0 cps</p>
        <p id="hiscore">Hi-SCORE : 100 </p>
    </div>
    <div id="playarea" onclick="Clicks()">
        <p id="arena" > CLICK ME</p>
    </div>
    <div id="btn">
        <button id="reset" onclick="Reset()"> RESET </button>
    </div>
    <div id="message">
        <p id="intro">Reach 100 clicks per second for a reward</p>
        <p id="reward"></p>
    </div>
</body>
</html>